<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Bienvenue !</a> 
    
    {% comment %} 
      Le code ci-dessous génère dynamiquement les liens de la sidebar 
      pour les pages qui ont "layout: page" dans leur front-matter.
      On exclut la page "Mon portfolio" car on a déjà ajouté 
      un lien manuellement.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          {% unless node.title == "Mon portfolio" %} 
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
          {% endunless %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="/cours/">Mon portfolio</a> 

  </nav>

  <div class="sidebar-item">
    <p>&copy; {{ site.time | date: '%Y' }} Mehdi Munim. Tous droits réservés.</p> 
  </div>
</div>